<% content_for :title do %>ReadGoodStuff Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Number" data-title="Facebook Likes" data-moreinfo="" data-prefix=""></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="facebook_talking_about_count" data-view="Number" data-title="Facebook Talking About" data-moreinfo="" data-prefix=""></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="facebook_new_like_count" data-view="Number" data-title="Facebook New Likes" data-moreinfo="" data-prefix=""></div>
    </li>
     <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_followers" data-view="Number" data-title="Twitter Followers" data-moreinfo="" data-prefix=""></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="mongo_post_count" data-view="Number" data-title="Posts" data-moreinfo="" data-prefix=""></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="mongo_user_count" data-view="Number" data-title="Users" data-moreinfo="" data-prefix=""></div>
    </li>
  </ul>
</div>